In [121]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np
from scipy.special import logit,expit
from statsmodels.discrete.conditional_models import ConditionalLogit
from sklearn.metrics import roc_auc_score

In [82]:
nrows=150
# data=pd.read_csv('sim_data.csv',nrows=nrows)
data=pd.DataFrame({'var0':np.random.normal(loc=0,scale=2, size=nrows),
                   'var1':np.random.normal(loc=3,scale=1, size=nrows),
                   'var2':np.random.normal(loc=-2,scale=3, size=nrows),
                   'var3':np.random.normal(loc=5,scale=1, size=nrows),
                   
                  })

data['id']=(list(range(50))*3)
data['var0'][data.id<20]=data['var0'][data.id<20]+1
data['var1'][data.id<20]=data['var1'][data.id<20]-1


data['prob']=expit(1.5*data.var0+0.55*data.var1+0.001*data.var2+0.5)
data['target']=np.where(data.prob>0.5,1,0)


data[:10]

C:\Users\577C~1\AppData\Local\Temp/ipykernel_4976/555174309.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['var0'][data.id<20]=data['var0'][data.id<20]+1
C:\Users\577C~1\AppData\Local\Temp/ipykernel_4976/555174309.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['var1'][data.id<20]=data['var1'][data.id<20]-1

       var0      var1       var2      var3  id      prob  target
0 -0.970782  1.580544  -2.037717  4.642658   0  0.477787       0
1  5.210722  3.506797  -5.325461  5.743878   1  0.999964       1
2  3.640756  1.688731  -7.985228  3.602804   2  0.998975       1
3  2.736230  0.466885  -3.140450  5.916439   3  0.992294       1
4  0.227392  4.054030  -5.292691  3.064400   4  0.955448       1
5  2.789284  3.345770  -0.870301  5.146401   5  0.998533       1
6  5.956529  4.578399  -1.368286  4.963454   6  0.999994       1
7  0.241093  2.495278 -14.560147  6.124157   7  0.901985       1
8  2.556234  2.182768  -2.156642  5.716697   8  0.996060       1
9 -2.077912  1.948968  -3.649326  4.597843   9  0.175291       0

In [83]:
m = ConditionalLogit(endog=data.target, exog=data[['var0','var1','var2']], groups=data.id)
r = m.fit()

C:\JupyterLab\resources\jlab_server\lib\site-packages\statsmodels\discrete\conditional_models.py:80: UserWarning: Dropped 25 groups and 75 observations for having no within-group variance
  warnings.warn(msg)

In [84]:
r.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                  Conditional Logit Model Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                   75
Model:               ConditionalLogit   No. groups:                         25
Log-Likelihood:            -0.0020467   Min group size:                      3
Method:                          BFGS   Max group size:                      3
Date:                Sat, 15 Oct 2022   Mean group size:                   3.0
Time:                        10:30:56
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
var0          15.3654    231.761      0.066      0.947    -438.877     469.608
var1           5.1832    110.568      0.047      0.963    -211.526     221.893
var2           0.3252     42.183      0.008      0.994     -82.352      83.002
==============================================================================
"""

In [98]:
coefs=pd.DataFrame({'var':['var0','var1','var2'],
                    'coef':r.params.values
                   })

coefs

    var       coef
0  var0  15.365351
1  var1   5.183227
2  var2   0.325194

In [99]:
coef_dict=coefs.set_index('var').to_dict()['coef']
coef_dict

{'var0': 15.365350973440679,
 'var1': 5.183227362374096,
 'var2': 0.32519389613452326}

In [114]:
x=data[['var0','var1','var2']]

In [115]:
x.head()

       var0      var1      var2
0 -0.970782  1.580544 -2.037717
1  5.210722  3.506797 -5.325461
2  3.640756  1.688731 -7.985228
3  2.736230  0.466885 -3.140450
4  0.227392  4.054030 -5.292691

In [122]:
predection_matrix=x.assign(pediction=x.assign(**coef_dict).mul(x).sum(axis=1))
predection_matrix['proba']=expit(predection_matrix.pediction)
predection_matrix['target']=data.target
predection_matrix['pred']=np.where(predection_matrix.proba>0.5,1,0)
predection_matrix[:3]

       var0      var1      var2  pediction     proba  target  pred
0 -0.970782  1.580544 -2.037717  -7.386739  0.000619       0     0
1  5.210722  3.506797 -5.325461  96.509290  1.000000       1     1
2  3.640756  1.688731 -7.985228  62.097820  1.000000       1     1

In [123]:
roc_auc_score(predection_matrix.target,predection_matrix.pred)

0.9579831932773109